<div class="container mt-5">
    <div>
        <div>
            <div class="card text-center">
                <div class="card-body">
                    <button class="btn btn-primary" routerLink="productos" style="margin-right: 10px;" >Ventas</button>
                    <button class="btn btn-primary" style="margin-right: 10px;">Empleados</button>
                    <button class="btn btn-primary" style="margin-right: 10px;">Contacto</button>
                    <button class="btn btn-secondary" style="margin-right: 10px;">Acerca de</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div>
        <div>
            <div class="card text-center">
                <div class="card-body">
                    <h5>En construcción</h5>
                </div>
            </div>
        </div>
    </div>
</div>