<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <img class="logo" src="../../../assets/usuario.png" alt="Login">
                    <h2>Recuperar contraseña</h2>
                    <form>
                        <div class="form-floating mb-3 mt-4">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Correo electrónico</label>
                        </div>
                        <button class="btn btn-primary mt-4 btn-lg mb-4">Enviar correo</button>
                        <button class="btn btn-secondary mt-4 btn-lg mb-4" routerLink="login" >Volver</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>