<div class="container mt-5">
    <div *ngIf="!loading" class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <img class="logo" src="../../../assets/usuario.png" alt="Login">
                    <h2>Recuperar contraseña</h2>
                    <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
                        <div class="form-floating mb-3 mt-4">
                            <input type="email" formControlName="correo"  class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Correo electrónico</label>
                            <span *ngIf="recuperarUsuario.get('correo')?.hasError('required') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel">
                                El <strong>correo</strong> es requerido
                            </span>
                            <span *ngIf="recuperarUsuario.get('correo')?.hasError('email') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel">
                                El formato del <strong>correo</strong> es invalido
                            </span>
                        </div>
                        <button type="submit" class="btn btn-primary mt-4 btn-lg mb-4" [disabled]="recuperarUsuario.invalid" style="margin-right: 10px;">Enviar correo</button>
                        <button class="btn btn-secondary mt-4 btn-lg mb-4" routerLink="login" >Volver</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>