<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h2>Verificación de correo electrónico</h2>
                    <img class="checker" src="../../../assets/cheque.png" alt="checker">
                    <h6 class="mt-5">Le enviamos un e-mail con un link para que pueda verificar su dirección de correo electrónico.</h6>
                    <button class="btn btn-secondary mt-4 btn-lg mb-2" routerLink="/login" >Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>