<div class="container mt-5">
    <div *ngIf="!loading" class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <img class="logo" src="../../../assets/usuario.png" alt="Login">
                    <h2>Iniciar sesón</h2>
                    <form (ngSubmit)="login()" [formGroup]="loginUsario">
                        <div class="form-floating mb-3 mt-3">
                            <input type="email" formControlName="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Correo electrónico</label>
                            <span *ngIf="loginUsario.get('email')?.hasError('required') && loginUsario.get('email')?.touched" class="text-danger errorLabel">
                                El <strong>correo</strong> es requerido
                            </span>
                            <span *ngIf="loginUsario.get('email')?.hasError('email') && loginUsario.get('email')?.touched" class="text-danger errorLabel">
                                El formato del <strong>correo</strong> es invalido
                            </span>
                        </div>
                        <div class="form-floating">
                            <input type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Contraseña</label>
                            <span *ngIf="loginUsario.get('password')?.hasError('required') && loginUsario.get('password')?.touched" class="text-danger errorLabel">
                                La <strong>contraseña</strong> es requerida
                            </span>
                        </div>
                        <button type="submit" [disabled]="loginUsario.invalid" class="btn btn-primary mt-4 btn-lg mb-4">Ingresar</button>
                        <p>¿No tienes una cuenta? <a routerLink="/registrar-usuario">Registrarme</a>.</p>
                        <a class="mt-2" routerLink="/recuperar-password">Recuperar contraseña</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <app-spinner *ngIf="loading" ></app-spinner>
</div>
